__pycache__/
build/
dist/
*.egg-info/
dataset/
*.swp
*.vscode
*.DS_Store
*.pt
*.so
*.csv
*.model
*trial*
*.ipynb
*.sh
*analyze*
*random.py
*RELEASE_*
*.csv.gz
*.zip
*.csv
*.model
*submission_
*.npz
*.npy
**/convert.py
**/mapping/README.md
**.json
**/checkpoint
**/events.out.*
**/test*
**/pcqm4m-scaf/**
**/logs/**
**/lightning_logs/**
/examples/linkproppred/biokg/log/ogbl-biokg/TransE/500-12.0/1649338106.4477725/train.log
